<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Slider CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SliderCSS.css') }}">
    <!--- Tabs CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabsCSS.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <title>FinFin's Pi</title>

    <style>
    body{
      background-color: #000000;
    }
    h1{
      color: #aaaaaa
    }
    h3{
      color: #aaaaaa;
    }
    p{
      color: #aaaaaa;
    }
   </style>
  </head>
